<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../public/css/style.css">
    <script type="module" defer src="./../../public/js/api.js"></script>
    
    <title>Home</title>
</head>

<body>

    <main>

        <h1>Tabela de grupos</h1>
        <div id="groups">
            <div id="one">
                <ul id="numberOne">
                </ul>
            </div>
            <div id="two">
                <ul>
                    <li>Group 2</li>
                    <li></li>
                    <li><li>
                    <li></li>
                    </li></li>
                </ul>
            </div>
            <div id="three">
                <ul>
                    <li>Group 3</li>
                    <li></li>
                    <li><li>
                        <li></li>
                    </li></li>
                </ul>
            </div>
            <div id="four">
                <ul>
                    <li>Group 4</li>
                    <li></li>
                    <li><li>
                        <li></li>
                    </li></li>
                </ul>
            </div>
            <div id="five">
                <ul>
                    <li>Group 5</li>
                    <li></li>
                    <li><li>
                    <li></li>
                </li></li>
            </ul>
        </div>
        <div id="six">
            <ul>
                <li>Group 6</li>
                <li></li>
                <li><li>
                    <li></li>
                </li></li>
            </ul>
            </div>
            <div id="seven">
                <ul>
                    <li>Group 7</li>
                    <li></li>
                    <li><li>
                    <li></li>
                </li></li>
                </ul>
            </div>
            <div id="eigth">
                <ul>
                    <li>Group 8</li>
                    <li></li>
                    <li><li>
                        <li></li>
                    </li></li>
                </ul>
            </div>
         
        </div>
        
    </main>
</body>


</html>