<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../public/css/style.css">
    <script type="module" defer src="./../../public/js/api.js"></script>
    
    <title>Home</title>
</head>

<body>

    <main>

        <h1>Tabela de grupos</h1>
        <div id="groups">
            <div id="Grupo 1"></div>
            <div id="Grupo 2"></div>
            <div id="Grupo 3"></div>
            <div id="Grupo 4"></div>
            <div id="Grupo 5"></div>
            <div id="Grupo 6"></div>
            <div id="Grupo 7"></div>
            <div id="Grupo 8"></div>
             
         
        </div>
        
    </main>
</body>


</html>